* {
    margin-bottom: 0;
  }
  
  body {
    background-color: #eeff06;
  }
  
  .card {
    margin: 10px 10px;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  /* Flip Cards CSS */
  .card-container {
    perspective: 700px;
    margin-right: 80px;
  }
  
  .card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
   padding-left: 27px;
  
  }
  
  .card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  
  .front {
    grid-area: frontAndBack;
    padding: 10px;
    background-color: #12c6b1;
    color: white;
    width: 35rem;
  }
  
  .back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
    padding: 10px;
    background-color: #08b227;
    color: white;
    width: 35rem;
  }
  
  input[type='checkbox']:checked+.card-container .card-flip {
    transform: rotateY(180deg);
  }
  
  #container {
    padding-bottom: 16px;
    margin-top: 30px;
    text-align: center;
  }
  
  .btn {
    margin-left: 30px;
    margin-top: 138px;
  }
  
  .head h1 {
    display: inline;
    background-color: #f3260b;
    padding: 0px 100px;
    border-radius: 5px;
    color: white;
  }
  
  
  .head {
    text-align: center;
    padding-bottom: 10px;
  }
  
  .card-header {
    background-color: #000;
  }
  
  .card-price{
    color: #f3260b;
  }
  
  .card-text{
    margin-bottom: -1rem;
  }